 <header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand d-flex align-items-center" href="#">
        <img src="../assets/dancing.png" alt="Logo" width="50" height="50" class="mr-2">
        <h1 class="mb-0" style="font-family: 'Brush Script MT', cursive;">India Heritage Revival</h1>
      </a>

      <!-- Navbar Toggler for mobile view -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#" data-bs-toggle="collapse" data-bs-target="#destinationsImages" aria-expanded="false" aria-controls="destinationsImages">Heritage Sites <i class="fas fa-chevron-down"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" data-bs-toggle="collapse" data-bs-target="#experienceImages" aria-expanded="false" aria-controls="experienceImages">Culture <i class="fas fa-chevron-down"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" data-bs-toggle="collapse" data-bs-target="#travelImages" aria-expanded="false" aria-controls="travelImages">Art <i class="fas fa-chevron-down"></i></a>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="#home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#shop">
              <i class="fas fa-shopping-cart"></i>Shop
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>


<div class="container-fluid mt-4">
    <div class="collapse" id="destinationsImages">
        <h5 class="card-title1 text-center" >Heritage Sites</h5>
      <div class="row">
        <!-- Card items for Destinations go here -->
        <!-- Example card: -->
          <div class="col-md-2 mb-4">
              <div class="card">
              <img src="https://knowindia.india.gov.in/assets/images/gallery/culture-and-heritage/10s.jpg" class="card-img-top" alt="Popular Destinations">
              <div class="card-body">
                  <h5 class="card-title text-center">Khajuraho</h5>
              </div>
              </div>
          </div>
          <div class="col-md-2 mb-4">
              <div class="card">
                  <img src="https://knowindia.india.gov.in/assets/images/gallery/culture-and-heritage/12s.jpg" class="card-img-top" alt="Spiritual">
                  <div class="card-body">
                      <h5 class="card-title text-center">Tanjore</h5>
                  </div>
              </div>
          </div>
          <div class="col-md-2 mb-4">
              <div class="card">
                  <img src="https://knowindia.india.gov.in/assets/images/gallery/culture-and-heritage/14s.jpg" class="card-img-top" alt="Adventure">
                  <div class="card-body">
                      <h5 class="card-title text-center">Ruins of Hampi</h5>
                  </div>
              </div>
          </div>
          <div class="col-md-2 mb-4">
              <div class="card">
                  <img src="https://knowindia.india.gov.in/assets/images/gallery/culture-and-heritage/13s.jpg" class="card-img-top" alt="Nature and Wildlife">
                  <div class="card-body">
                      <h5 class="card-title text-center"> Sanchi Stupa</h5>
                  </div>
              </div>
          </div>
          <div class="col-md-2 mb-4">
              <div class="card">
                  <img src="https://knowindia.india.gov.in/assets/images/gallery/culture-and-heritage/17s.jpg" class="card-img-top" alt="Art">
                  <div class="card-body">
                      <h5 class="card-title text-center">Tirupati Balaji Temple Andra pradesh</h5>
                  </div>
              </div>
          </div>
          <div class="col-md-2 mb-4">
              <div class="card">
                  <img src="https://knowindia.india.gov.in/assets/images/gallery/culture-and-heritage/15s.jpg" class="card-img-top" alt="Food and Cuisine">
                  <div class="card-body">
                      <h5 class="card-title text-center">Tajmahal Agra</h5>
                  </div>
              </div>
          </div>
        <!-- Add the rest of your cards here -->
      </div>
    </div>
  </div>



<div class="container-fluid mt-4">
    <div class="collapse" id="experienceImages">
        <h5 class="card-title1 text-center" >Heritage Culture</h5>
      <div class="row">
        <!-- Card items for Experiences go here -->
        <!-- Example card: -->
          <div class="col-md-2 mb-4">
              <div class="card">
              <img src="https://knowindia.india.gov.in/assets/images/gallery/culture-and-heritage/1s.jpg" class="card-img-top" alt="Heritage">
              <div class="card-body">
                  <h5 class="card-title text-center">Odissy</h5>
              </div>
              </div>
          </div>
          <div class="col-md-2 mb-4">
              <div class="card">
                  <img src="https://knowindia.india.gov.in/assets/images/gallery/culture-and-heritage/3s.jpg" class="card-img-top" alt="Spiritual">
                  <div class="card-body">
                      <h5 class="card-title text-center">kathak</h5>
                  </div>
              </div>
          </div>
          <div class="col-md-2 mb-4">
              <div class="card">
                  <img src="https://knowindia.india.gov.in/assets/images/gallery/culture-and-heritage/2s.jpg" class="card-img-top" alt="Adventure">
                  <div class="card-body">
                      <h5 class="card-title text-center">Kuchipudi</h5>
                  </div>
              </div>
          </div>
          <div class="col-md-2 mb-4">
              <div class="card">
                  <img src="https://knowindia.india.gov.in/assets/images/gallery/culture-and-heritage/5s.jpg" class="card-img-top" alt="Nature and Wildlife">
                  <div class="card-body">
                      <h5 class="card-title text-center">kuttiyam</h5>
                  </div>
              </div>
          </div>
          <div class="col-md-2 mb-4">
              <div class="card">
                  <img src="https://knowindia.india.gov.in/assets/images/gallery/culture-and-heritage/6s.jpg" class="card-img-top" alt="Art">
                  <div class="card-body">
                      <h5 class="card-title text-center">kathakali</h5>
                  </div>
              </div>
          </div>
          <div class="col-md-2 mb-4">
              <div class="card">
                  <img src="https://knowindia.india.gov.in/assets/images/gallery/culture-and-heritage/16s.jpg" class="card-img-top" alt="Food and Cuisine">
                  <div class="card-body">
                      <h5 class="card-title text-center">Kalaripattu</h5>
                  </div>
              </div>
          </div>
          <div class="col-md-2 mb-4">
              <div class="card">
                  <img src="https://knowindia.india.gov.in/assets/images/gallery/culture-and-heritage/19s.jpg" class="card-img-top" alt="Luxury">
                  <div class="card-body">
                      <h5 class="card-title text-center">Folk Dance of Gujrat</h5>
                  </div>
              </div>
          </div>
          <div class="col-md-2 mb-4">
              <div class="card">
                  <img src="https://knowindia.india.gov.in/assets/images/gallery/culture-and-heritage/27s.jpg" class="card-img-top" alt="Yoga and Wellness">
                  <div class="card-body">
                      <h5 class="card-title text-center">Goomer Folk Dance</h5>
                  </div>
              </div>
          </div>
          <div class="col-md-2 mb-4">
              <div class="card">
                  <img src="https://knowindia.india.gov.in/assets/images/gallery/culture-and-heritage/18s.jpg" class="card-img-top" alt="Shopping">
                  <div class="card-body">
                      <h5 class="card-title text-center">Folk Dance of Punjab</h5>
                  </div>
              </div>
          </div>
          <div class="col-md-2 mb-4">
              <div class="card">
                  <img src="https://knowindia.india.gov.in/assets/images/gallery/culture-and-heritage/25s.jpg" class="card-img-top" alt="UNESCO World Heritage Sites">
                  <div class="card-body">
                      <h5 class="card-title text-center">Mohiniattyam dance form</h5>
                  </div>
              </div>
          </div>
          <div class="col-md-2 mb-4">
              <div class="card">
                  <img src="https://knowindia.india.gov.in/assets/images/gallery/culture-and-heritage/26s.jpg" class="card-img-top" alt="Museums in India">
                  <div class="card-body">
                      <h5 class="card-title text-center">Manipuri Dance</h5>
                  </div>
              </div>
          </div>
          <div class="col-md-2 mb-4">
              <div class="card">
                  <img src="https://knowindia.india.gov.in/assets/images/gallery/culture-and-heritage/20s.jpg" class="card-img-top" alt="Crafted in India">
                  <div class="card-body">
                      <h5 class="card-title text-center">Desert Festival Rajsthan</h5>
                  </div>
              </div>
          </div>
        <!-- Add the rest of your cards here -->
      </div>
    </div>
  </div>



  <div class="container-fluid mt-4">
    <div class="collapse" id="travelImages">
        <h5 class="card-title1 text-center" >Heritage art</h5>
      <div class="row">
        <!-- Card items for Travel go here -->
        <!-- Example card: -->
          <div class="col-md-2 mb-4">
              <div class="card">
              <img src="https://www.sankalanartgallery.in/wp-content/uploads/2023/01/1004A.Mural-Art-Wall-Hanging-Colourful-hand-made-Embossing-Work.jpg" class="card-img-top" alt="About India">
              <div class="card-body">
                  <h5 class="card-title text-center">Moral Art</h5>
              </div>
              </div>
          </div>
          <div class="col-md-2 mb-4">
              <div class="card">
                  <img src="https://img.artpal.com/465392/3-23-9-26-12-44-28m.jpg" class="card-img-top" alt="Spiritual">
                  <div class="card-body">
                      <h5 class="card-title text-center">Mandala Art</h5>
                  </div>
              </div>
          </div>
          <div class="col-md-2 mb-4">
              <div class="card">
                  <img src="https://rukminim2.flixcart.com/image/850/1000/k0r15e80/vase/y/y/u/el-006-038-flipkart-perfect-homes-original-imaf93jt2yf9mgfe.jpeg?q=90&crop=false" class="card-img-top" alt="Adventure">
                  <div class="card-body">
                      <h5 class="card-title text-center">Warli Art</h5>
                  </div>
              </div>
          </div>
          <div class="col-md-2 mb-4">
              <div class="card">
                  <img src="https://img.clasf.in/2024/04/18/Dhokra-Art-Shop-Handmade-Metal-Crafts-b-Handicrafts-20240418184346.2034940015.jpg" class="card-img-top" alt="Nature and Wildlife">
                  <div class="card-body">
                      <h5 class="card-title text-center">Dhokra Art</h5>
                  </div>
              </div>
          </div>
          <div class="col-md-2 mb-4">
              <div class="card">
                  <img src="https://cdn0.rubylane.com/_podl/item/1879775/3906/LOVELY-Vintage-1940s-Chinese-Handmade-Blond-pic-1A-720:10.10-b1d947f6.webp" class="card-img-top" alt="Art">
                  <div class="card-body">
                      <h5 class="card-title text-center">Wooden Art</h5>
                  </div>
              </div>
          </div>
          <div class="col-md-2 mb-4">
              <div class="card">
                  <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/48ea31bf-521c-4bf6-8084-aef4b4aebe98/dam1xn3-8a2807cb-50bb-4b9f-a564-6b2cb7c1e8bc.jpg/v1/fill/w_1600,h_1150,q_75,strp/handmade_polymer_clay_embroidery_jewelry_by_lenahandmadejewelry_dam1xn3-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzQ4ZWEzMWJmLTUyMWMtNGJmNi04MDg0LWFlZjRiNGFlYmU5OFwvZGFtMXhuMy04YTI4MDdjYi01MGJiLTRiOWYtYTU2NC02YjJjYjdjMWU4YmMuanBnIiwiaGVpZ2h0IjoiPD0xMTUwIiwid2lkdGgiOiI8PTE2MDAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uud2F0ZXJtYXJrIl0sIndtayI6eyJwYXRoIjoiXC93bVwvNDhlYTMxYmYtNTIxYy00YmY2LTgwODQtYWVmNGI0YWViZTk4XC9sZW5haGFuZG1hZGVqZXdlbHJ5LTQucG5nIiwib3BhY2l0eSI6OTUsInByb3BvcnRpb25zIjowLjQ1LCJncmF2aXR5IjoiY2VudGVyIn19._V38RzBvweBe7KpiA5_xFkmnJLxaLrLy17vfhgc6W8w" class="card-img-top" alt="Food and Cuisine">
                  <div class="card-body">
                      <h5 class="card-title text-center">Hotels</h5>
                  </div>
              </div>
          </div>
        <!-- Add the rest of your cards here -->
      </div>
    </div>
  </div>

