<div class="carousel">
    <div class="carousel-item">
        <img src="https://i.ytimg.com/vi/7whhcFfz51Q/maxresdefault.jpg" alt="A mountain retreat">
        <div class="carousel-caption">Painting</div>
    </div>
    <div class="carousel-item">
        <img src="https://i.ytimg.com/vi/7whhcFfz51Q/maxresdefault.jpg" alt="Textiles">
        <div class="carousel-caption">Textiles</div>
    </div>
    <div class="carousel-item">
        <img src="https://i.ytimg.com/vi/7whhcFfz51Q/maxresdefault.jpg" alt="Sculpture">
        <div class="carousel-caption">Sculpture</div>
    </div>
    <div class="carousel-item">
        <img src="https://i.ytimg.com/vi/7whhcFfz51Q/maxresdefault.jpg" alt="Pottery and Ceramics">
        <div class="carousel-caption">Pottery and Ceramics</div>
    </div>
    <div class="carousel-item">
        <img src="https://i.ytimg.com/vi/7whhcFfz51Q/maxresdefault.jpg" alt="Jewelry Making">
        <div class="carousel-caption">Jewelry Making</div>
    </div>
    <div class="carousel-item">
        <img src="https://i.ytimg.com/vi/7whhcFfz51Q/maxresdefault.jpg" alt="Wooden Crafts">
        <div class="carousel-caption">Wooden Crafts</div>
    </div>
    <div class="carousel-item">
        <img src="https://i.ytimg.com/vi/7whhcFfz51Q/maxresdefault.jpg" alt="Glass Art">
        <div class="carousel-caption">Glass Art</div>
    </div>
</div>