
                    <div class="swiper-container two wow fadeInUp animate swiper-container-horizontal swiper-container-3d swiper-container-coverflow" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                        <h1 class="text-center">Most Popular Destinations</h1>
                        <div class="swiper-wrapper" style="transform: translate3d(-9279.5px, 0px, 0px); transition-duration: 0ms;"><div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="0" style="transform: translate3d(4750px, 0px, -11875px) rotateX(0deg) rotateY(2375deg); z-index: -47; transition-duration: 0ms;">
                                    <div class="slider-image"> 
                                        <a href="#"><img src="assets/img/new/airport.jpg" alt="slide 1" title="Delhi Airport"></a>
                                        <div class="centered">Delhi Airport</div>
                                    </div>
                                <div class="swiper-slide-shadow-left" style="opacity: 47.5; transition-duration: 0ms;"></div><div class="swiper-slide-shadow-right" style="opacity: 0; transition-duration: 0ms;"></div></div><div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="1" style="transform: translate3d(4500px, 0px, -11250px) rotateX(0deg) rotateY(2250deg); z-index: -44; transition-duration: 0ms;">
                                    <div class="slider-image">
                                        <a href="#"><img src="assets/img/new/gyarah-murti.jpg" alt="Gyarah Murti"></a>
                                        <div class="centered">Gyarah Murti</div>
                                    </div>
                                <div class="swiper-slide-shadow-left" style="opacity: 45; transition-duration: 0ms;"></div><div class="swiper-slide-shadow-right" style="opacity: 0; transition-duration: 0ms;"></div></div><div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="2" style="transform: translate3d(4250px, 0px, -10625px) rotateX(0deg) rotateY(2125deg); z-index: -42; transition-duration: 0ms;">
                                    <div class="slider-image">
                                        <a href="#"><img src="assets/img/new/humayuntom.jpg" alt="Humayun’s Tomb"></a>
                                    <div class="centered">Humayun’s Tomb</div>
                                    </div>
                                <div class="swiper-slide-shadow-left" style="opacity: 42.5; transition-duration: 0ms;"></div><div class="swiper-slide-shadow-right" style="opacity: 0; transition-duration: 0ms;"></div></div><div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-prev" data-swiper-slide-index="3" style="transform: translate3d(4000px, 0px, -10000px) rotateX(0deg) rotateY(2000deg); z-index: -39; transition-duration: 0ms;">
                                    <div class="slider-image">
                                      <a href="#"><img src="assets/img/new/kutubminar.jpg" alt="Kutub Minar"></a>
                                        <div class="centered">Qutub Minar</div>
                                    </div>
                                <div class="swiper-slide-shadow-left" style="opacity: 40; transition-duration: 0ms;"></div><div class="swiper-slide-shadow-right" style="opacity: 0; transition-duration: 0ms;"></div></div><div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active" data-swiper-slide-index="4" style="transform: translate3d(3750px, 0px, -9375px) rotateX(0deg) rotateY(1875deg); z-index: -37; transition-duration: 0ms;">
                                    <div class="slider-image">
                                        <a href="#"><img src="assets/img/new/birla-mandir.jpg" alt="Birla Mandir"> </a>
                                        <div class="centered">Birla Mandir</div>                   </div>
                                <div class="swiper-slide-shadow-left" style="opacity: 37.5; transition-duration: 0ms;"></div><div class="swiper-slide-shadow-right" style="opacity: 0; transition-duration: 0ms;"></div></div><div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-next" data-swiper-slide-index="5" style="transform: translate3d(3500px, 0px, -8750px) rotateX(0deg) rotateY(1750deg); z-index: -34; transition-duration: 0ms;">
                                    <div class="slider-image">
                                        <a href="#"><img src="assets/img/new/lodi-garden.jpg" alt="Lodhi Garden"></a>
                                        <div class="centered">Lodhi Garden</div>
                                    </div>
                                <div class="swiper-slide-shadow-left" style="opacity: 35; transition-duration: 0ms;"></div><div class="swiper-slide-shadow-right" style="opacity: 0; transition-duration: 0ms;"></div></div><div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="6" style="transform: translate3d(3250px, 0px, -8125px) rotateX(0deg) rotateY(1625deg); z-index: -32; transition-duration: 0ms;">
                                    <div class="slider-image">
                                        <a href="#"><img src="assets/img/new/lotustemple.jpg" alt="Lotus Temple"></a>
                                        <div class="centered">Lotus Temple</div>
                                    </div>
                                <div class="swiper-slide-shadow-left" style="opacity: 32.5; transition-duration: 0ms;"></div><div class="swiper-slide-shadow-right" style="opacity: 0; transition-duration: 0ms;"></div></div><div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="7" style="transform: translate3d(3000px, 0px, -7500px) rotateX(0deg) rotateY(1500deg); z-index: -29; transition-duration: 0ms;">
                                    <div class="slider-image">
                                        <a href="#"><img src="assets/img/new/red-ort.jpg" alt="Red Fort"></a>
                                        <div class="centered">Red Fort </div>
                                    </div>
                                <div class="swiper-slide-shadow-left" style="opacity: 30; transition-duration: 0ms;"></div><div class="swiper-slide-shadow-right" style="opacity: 0; transition-duration: 0ms;"></div></div><div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="8" style="transform: translate3d(2750px, 0px, -6875px) rotateX(0deg) rotateY(1375deg); z-index: -27; transition-duration: 0ms;">
                                    <div class="slider-image">
                                        <a href="#"><img src="assets/img/new/Swaminarayan.jpg" alt="Akshardham Temple"></a>
                                        <div class="centered">Akshardham Temple</div>
                                    </div>
                                <div class="swiper-slide-shadow-left" style="opacity: 27.5; transition-duration: 0ms;"></div><div class="swiper-slide-shadow-right" style="opacity: 0; transition-duration: 0ms;"></div></div><div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="9" style="transform: translate3d(2500px, 0px, -6250px) rotateX(0deg) rotateY(1250deg); z-index: -24; transition-duration: 0ms;">
                                    <div class="slider-image">
                                        <a href="#"><img src="/img/new/Agrasen-Ki-Baoli.jpg" alt="Agrasen Ki Baoli"></a>
                                        <div class="centered">Agrasen Ki Baoli</div>
                                    </div>
                                <div class="swiper-slide-shadow-left" style="opacity: 25; transition-duration: 0ms;"></div><div class="swiper-slide-shadow-right" style="opacity: 0; transition-duration: 0ms;"></div></div><div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="10" style="transform: translate3d(2250px, 0px, -5625px) rotateX(0deg) rotateY(1125deg); z-index: -22; transition-duration: 0ms;">
                                    <div class="slider-image">
                                        <a href="#"><img src="assets/img/new/Bangla-Sahib.jpg" alt="Bangla Sahib"></a>
                                        <div class="centered">Bangla Sahib</div>
                                    </div>
                                <div class="swiper-slide-shadow-left" style="opacity: 22.5; transition-duration: 0ms;"></div><div class="swiper-slide-shadow-right" style="opacity: 0; transition-duration: 0ms;"></div></div><div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="11" style="transform: translate3d(2000px, 0px, -5000px) rotateX(0deg) rotateY(1000deg); z-index: -19; transition-duration: 0ms;">
                                    <div class="slider-image">
                                        <a href="#"><img src="assets/img/new/GTB-Memorial.jpg" alt="GTB Memorial"></a>
                                        <div class="centered">GTB Memorial</div>
                                    </div>
                                <div class="swiper-slide-shadow-left" style="opacity: 20; transition-duration: 0ms;"></div><div class="swiper-slide-shadow-right" style="opacity: 0; transition-duration: 0ms;"></div></div><div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="12" style="transform: translate3d(1750px, 0px, -4375px) rotateX(0deg) rotateY(875deg); z-index: -17; transition-duration: 0ms;">
                                    <div class="slider-image">
                                        <a href="#"><img src="assets/img/new/jantar-mantar.jpg" alt="Jantar Mantar"></a>
                                        <div class="centered">Jantar Mantar</div>
                                    </div>
                                <div class="swiper-slide-shadow-left" style="opacity: 17.5; transition-duration: 0ms;"></div><div class="swiper-slide-shadow-right" style="opacity: 0; transition-duration: 0ms;"></div></div><div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="13" style="transform: translate3d(1500px, 0px, -3750px) rotateX(0deg) rotateY(750deg); z-index: -14; transition-duration: 0ms;">
                                    <div class="slider-image">
                                        <a href="#"><img src="assets/img/new/Rashtrapati-Bhavan.jpg" alt="Rashtrapati Bhavan"></a>
                                        <div class="centered">Rashtrapati Bhavan</div>
                                    </div>
                                <div class="swiper-slide-shadow-left" style="opacity: 15; transition-duration: 0ms;"></div><div class="swiper-slide-shadow-right" style="opacity: 0; transition-duration: 0ms;"></div></div><div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="14" style="transform: translate3d(1250px, 0px, -3125px) rotateX(0deg) rotateY(625deg); z-index: -12; transition-duration: 0ms;">
                                    <div class="slider-image">
                                        <a href="#"><img src="assets/img/new/Shanti-Stupa.jpg" alt="Shanti Stupa"></a>
                                        <div class="centered">Shanti Stupa</div>
                                    </div>
                                <div class="swiper-slide-shadow-left" style="opacity: 12.5; transition-duration: 0ms;"></div><div class="swiper-slide-shadow-right" style="opacity: 0; transition-duration: 0ms;"></div></div>
                                            <div class="swiper-slide" data-swiper-slide-index="0" style="transform: translate3d(1000px, 0px, -2500px) rotateX(0deg) rotateY(500deg); z-index: -9; transition-duration: 0ms;">
                                    <div class="slider-image"> 
                                        <a href="#"><img src="assets/img/new/airport.jpg" alt="slide 1" title="Delhi Airport"></a>
                                        <div class="centered">Delhi Airport</div>
                                    </div>
                                <div class="swiper-slide-shadow-left" style="opacity: 10; transition-duration: 0ms;"></div><div class="swiper-slide-shadow-right" style="opacity: 0; transition-duration: 0ms;"></div></div>
                                    
                                    <div class="swiper-slide" data-swiper-slide-index="1" style="transform: translate3d(750px, 0px, -1875px) rotateX(0deg) rotateY(375deg); z-index: -7; transition-duration: 0ms;">
                                    <div class="slider-image">
                                        <a href="#"><img src="assets/img/new/gyarah-murti.jpg" alt="Gyarah Murti"></a>
                                        <div class="centered">Gyarah Murti</div>
                                    </div>
                                <div class="swiper-slide-shadow-left" style="opacity: 7.5; transition-duration: 0ms;"></div><div class="swiper-slide-shadow-right" style="opacity: 0; transition-duration: 0ms;"></div></div>
                                    
                                   <div class="swiper-slide" data-swiper-slide-index="2" style="transform: translate3d(500px, 0px, -1250px) rotateX(0deg) rotateY(250deg); z-index: -4; transition-duration: 0ms;">
                                    <div class="slider-image">
                                        <a href="#"><img src="assets/img/new/humayuntom.jpg" alt="Humayun’s Tomb"></a>
                                    <div class="centered">Humayun’s Tomb</div>
                                    </div>
                                <div class="swiper-slide-shadow-left" style="opacity: 5; transition-duration: 0ms;"></div><div class="swiper-slide-shadow-right" style="opacity: 0; transition-duration: 0ms;"></div></div>
                                    
                                    
                                  <div class="swiper-slide swiper-slide-prev" data-swiper-slide-index="3" style="transform: translate3d(250px, 0px, -625px) rotateX(0deg) rotateY(125deg); z-index: -2; transition-duration: 0ms;">
                                    <div class="slider-image">
                                      <a href="#"><img src="assets/img/new/kutubminar.jpg" alt="Kutub Minar"></a>
                                        <div class="centered">Qutub Minar</div>
                                    </div>
                                <div class="swiper-slide-shadow-left" style="opacity: 2.5; transition-duration: 0ms;"></div><div class="swiper-slide-shadow-right" style="opacity: 0; transition-duration: 0ms;"></div></div>
                                  
                                  
                                  <div class="swiper-slide swiper-slide-active" data-swiper-slide-index="4" style="transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg); z-index: 1; transition-duration: 0ms;">
                                    <div class="slider-image">
                                        <a href="#"><img src="assets/img/new/birla-mandir.jpg" alt="Birla Mandir"> </a>
                                        <div class="centered">Birla Mandir</div>                   </div>
                                <div class="swiper-slide-shadow-left" style="opacity: 0; transition-duration: 0ms;"></div><div class="swiper-slide-shadow-right" style="opacity: 0; transition-duration: 0ms;"></div></div>
                                
                                
                                <div class="swiper-slide swiper-slide-next" data-swiper-slide-index="5" style="transform: translate3d(-250px, 0px, -625px) rotateX(0deg) rotateY(-125deg); z-index: -1; transition-duration: 0ms;">
                                    <div class="slider-image">
                                        <a href="#"><img src="assets/img/new/lodi-garden.jpg" alt="Lodhi Garden"></a>
                                        <div class="centered">Lodhi Garden</div>
                                    </div>
                                <div class="swiper-slide-shadow-left" style="opacity: 0; transition-duration: 0ms;"></div><div class="swiper-slide-shadow-right" style="opacity: 2.5; transition-duration: 0ms;"></div></div>
                                
                                
                                <div class="swiper-slide" data-swiper-slide-index="6" style="transform: translate3d(-500px, 0px, -1250px) rotateX(0deg) rotateY(-250deg); z-index: -4; transition-duration: 0ms;">
                                    <div class="slider-image">
                                        <a href="#"><img src="assets/img/new/lotustemple.jpg" alt="Lotus Temple"></a>
                                        <div class="centered">Lotus Temple</div>
                                    </div>
                                <div class="swiper-slide-shadow-left" style="opacity: 0; transition-duration: 0ms;"></div><div class="swiper-slide-shadow-right" style="opacity: 5; transition-duration: 0ms;"></div></div>
                                
                                
                                <div class="swiper-slide" data-swiper-slide-index="7" style="transform: translate3d(-750px, 0px, -1875px) rotateX(0deg) rotateY(-375deg); z-index: -6; transition-duration: 0ms;">
                                    <div class="slider-image">
                                        <a href="#"><img src="assets/img/new/red-ort.jpg" alt="Red Fort"></a>
                                        <div class="centered">Red Fort </div>
                                    </div>
                                <div class="swiper-slide-shadow-left" style="opacity: 0; transition-duration: 0ms;"></div><div class="swiper-slide-shadow-right" style="opacity: 7.5; transition-duration: 0ms;"></div></div>
                                
                                
                                <div class="swiper-slide" data-swiper-slide-index="8" style="transform: translate3d(-1000px, 0px, -2500px) rotateX(0deg) rotateY(-500deg); z-index: -9; transition-duration: 0ms;">
                                    <div class="slider-image">
                                        <a href="#"><img src="assets/img/new/Swaminarayan.jpg" alt="Akshardham Temple"></a>
                                        <div class="centered">Akshardham Temple</div>
                                    </div>
                                <div class="swiper-slide-shadow-left" style="opacity: 0; transition-duration: 0ms;"></div><div class="swiper-slide-shadow-right" style="opacity: 10; transition-duration: 0ms;"></div></div>
                                
                                
                                 <div class="swiper-slide" data-swiper-slide-index="9" style="transform: translate3d(-1250px, 0px, -3125px) rotateX(0deg) rotateY(-625deg); z-index: -11; transition-duration: 0ms;">
                                    <div class="slider-image">
                                        <a href="#"><img src="assets/img/new/Agrasen-Ki-Baoli.jpg" alt="Agrasen Ki Baoli"></a>
                                        <div class="centered">Agrasen Ki Baoli</div>
                                    </div>
                                <div class="swiper-slide-shadow-left" style="opacity: 0; transition-duration: 0ms;"></div><div class="swiper-slide-shadow-right" style="opacity: 12.5; transition-duration: 0ms;"></div></div>
                                
                                
                                
                                <div class="swiper-slide" data-swiper-slide-index="10" style="transform: translate3d(-1500px, 0px, -3750px) rotateX(0deg) rotateY(-750deg); z-index: -14; transition-duration: 0ms;">
                                    <div class="slider-image">
                                        <a href="#"><img src="assets/img/new/Bangla-Sahib.jpg" alt="Bangla Sahib"></a>
                                        <div class="centered">Bangla Sahib</div>
                                    </div>
                                <div class="swiper-slide-shadow-left" style="opacity: 0; transition-duration: 0ms;"></div><div class="swiper-slide-shadow-right" style="opacity: 15; transition-duration: 0ms;"></div></div>
                                
                                
                                <div class="swiper-slide" data-swiper-slide-index="11" style="transform: translate3d(-1750px, 0px, -4375px) rotateX(0deg) rotateY(-875deg); z-index: -16; transition-duration: 0ms;">
                                    <div class="slider-image">
                                        <a href="#"><img src="assets/img/new/GTB-Memorial.jpg" alt="GTB Memorial"></a>
                                        <div class="centered">GTB Memorial</div>
                                    </div>
                                <div class="swiper-slide-shadow-left" style="opacity: 0; transition-duration: 0ms;"></div><div class="swiper-slide-shadow-right" style="opacity: 17.5; transition-duration: 0ms;"></div></div>
                                
                                
                                <div class="swiper-slide" data-swiper-slide-index="12" style="transform: translate3d(-2000px, 0px, -5000px) rotateX(0deg) rotateY(-1000deg); z-index: -19; transition-duration: 0ms;">
                                    <div class="slider-image">
                                        <a href="#"><img src="assets/img/new/jantar-mantar.jpg" alt="Jantar Mantar"></a>
                                        <div class="centered">Jantar Mantar</div>
                                    </div>
                                <div class="swiper-slide-shadow-left" style="opacity: 0; transition-duration: 0ms;"></div><div class="swiper-slide-shadow-right" style="opacity: 20; transition-duration: 0ms;"></div></div>
                                
                                
                                
                                <div class="swiper-slide" data-swiper-slide-index="13" style="transform: translate3d(-2250px, 0px, -5625px) rotateX(0deg) rotateY(-1125deg); z-index: -21; transition-duration: 0ms;">
                                    <div class="slider-image">
                                        <a href="#"><img src="assets/img/new/Rashtrapati-Bhavan.jpg" alt="Rashtrapati Bhavan"></a>
                                        <div class="centered">Rashtrapati Bhavan</div>
                                    </div>
                                <div class="swiper-slide-shadow-left" style="opacity: 0; transition-duration: 0ms;"></div><div class="swiper-slide-shadow-right" style="opacity: 22.5; transition-duration: 0ms;"></div></div>
                                
                                
                                <div class="swiper-slide" data-swiper-slide-index="14" style="transform: translate3d(-2500px, 0px, -6250px) rotateX(0deg) rotateY(-1250deg); z-index: -24; transition-duration: 0ms;">
                                    <div class="slider-image">
                                        <a href="#"><img src="assets/img/new/Shanti-Stupa.jpg" alt="Shanti Stupa"></a>
                                        <div class="centered">Shanti Stupa</div>
                                    </div>
                                <div class="swiper-slide-shadow-left" style="opacity: 0; transition-duration: 0ms;"></div><div class="swiper-slide-shadow-right" style="opacity: 25; transition-duration: 0ms;"></div></div>
                                
                                
                                
                                
                                        <!-- Add Pagination -->
                        <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="0" style="transform: translate3d(-2750px, 0px, -6875px) rotateX(0deg) rotateY(-1375deg); z-index: -26; transition-duration: 0ms;">
                                    <div class="slider-image"> 
                                        <a href="#"><img src="assets/img/new/airport.jpg" alt="slide 1" title="Delhi Airport"></a>
                                        <div class="centered">Delhi Airport</div>
                                    </div>
                                <div class="swiper-slide-shadow-left" style="opacity: 0; transition-duration: 0ms;"></div><div class="swiper-slide-shadow-right" style="opacity: 27.5; transition-duration: 0ms;"></div></div><div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="1" style="transform: translate3d(-3000px, 0px, -7500px) rotateX(0deg) rotateY(-1500deg); z-index: -29; transition-duration: 0ms;">
                                    <div class="slider-image">
                                        <a href="#"><img src="assets/img/new/gyarah-murti.jpg" alt="Gyarah Murti"></a>
                                        <div class="centered">Gyarah Murti</div>
                                    </div>
                                <div class="swiper-slide-shadow-left" style="opacity: 0; transition-duration: 0ms;"></div><div class="swiper-slide-shadow-right" style="opacity: 30; transition-duration: 0ms;"></div></div><div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="2" style="transform: translate3d(-3250px, 0px, -8125px) rotateX(0deg) rotateY(-1625deg); z-index: -31; transition-duration: 0ms;">
                                    <div class="slider-image">
                                        <a href="#"><img src="assets/img/new/humayuntom.jpg" alt="Humayun’s Tomb"></a>
                                    <div class="centered">Humayun’s Tomb</div>
                                    </div>
                                <div class="swiper-slide-shadow-left" style="opacity: 0; transition-duration: 0ms;"></div><div class="swiper-slide-shadow-right" style="opacity: 32.5; transition-duration: 0ms;"></div></div><div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-prev" data-swiper-slide-index="3" style="transform: translate3d(-3500px, 0px, -8750px) rotateX(0deg) rotateY(-1750deg); z-index: -34; transition-duration: 0ms;">
                                    <div class="slider-image">
                                      <a href="#"><img src="assets/img/new/kutubminar.jpg" alt="Kutub Minar"></a>
                                        <div class="centered">Qutub Minar</div>
                                    </div>
                                <div class="swiper-slide-shadow-left" style="opacity: 0; transition-duration: 0ms;"></div><div class="swiper-slide-shadow-right" style="opacity: 35; transition-duration: 0ms;"></div></div><div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active" data-swiper-slide-index="4" style="transform: translate3d(-3750px, 0px, -9375px) rotateX(0deg) rotateY(-1875deg); z-index: -36; transition-duration: 0ms;">
                                    <div class="slider-image">
                                        <a href="#"><img src="/img/new/birla-mandir.jpg" alt="Birla Mandir"> </a>
                                        <div class="centered">Birla Mandir</div>                   </div>
                                <div class="swiper-slide-shadow-left" style="opacity: 0; transition-duration: 0ms;"></div><div class="swiper-slide-shadow-right" style="opacity: 37.5; transition-duration: 0ms;"></div></div><div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-next" data-swiper-slide-index="5" style="transform: translate3d(-4000px, 0px, -10000px) rotateX(0deg) rotateY(-2000deg); z-index: -39; transition-duration: 0ms;">
                                    <div class="slider-image">
                                        <a href="#"><img src="assets/img/new/lodi-garden.jpg" alt="Lodhi Garden"></a>
                                        <div class="centered">Lodhi Garden</div>
                                    </div>
                                <div class="swiper-slide-shadow-left" style="opacity: 0; transition-duration: 0ms;"></div><div class="swiper-slide-shadow-right" style="opacity: 40; transition-duration: 0ms;"></div></div><div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="6" style="transform: translate3d(-4250px, 0px, -10625px) rotateX(0deg) rotateY(-2125deg); z-index: -41; transition-duration: 0ms;">
                                    <div class="slider-image">
                                        <a href="#"><img src="assets/img/new/lotustemple.jpg" alt="Lotus Temple"></a>
                                        <div class="centered">Lotus Temple</div>
                                    </div>
                                <div class="swiper-slide-shadow-left" style="opacity: 0; transition-duration: 0ms;"></div><div class="swiper-slide-shadow-right" style="opacity: 42.5; transition-duration: 0ms;"></div></div><div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="7" style="transform: translate3d(-4500px, 0px, -11250px) rotateX(0deg) rotateY(-2250deg); z-index: -44; transition-duration: 0ms;">
                                    <div class="slider-image">
                                        <a href="#"><img src="assets/img/new/red-ort.jpg" alt="Red Fort"></a>
                                        <div class="centered">Red Fort </div>
                                    </div>
                                <div class="swiper-slide-shadow-left" style="opacity: 0; transition-duration: 0ms;"></div><div class="swiper-slide-shadow-right" style="opacity: 45; transition-duration: 0ms;"></div></div><div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="8" style="transform: translate3d(-4750px, 0px, -11875px) rotateX(0deg) rotateY(-2375deg); z-index: -46; transition-duration: 0ms;">
                                    <div class="slider-image">
                                        <a href="#"><img src="assets/img/new/Swaminarayan.jpg" alt="Akshardham Temple"></a>
                                        <div class="centered">Akshardham Temple</div>
                                    </div>
                                <div class="swiper-slide-shadow-left" style="opacity: 0; transition-duration: 0ms;"></div><div class="swiper-slide-shadow-right" style="opacity: 47.5; transition-duration: 0ms;"></div></div><div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="9" style="transform: translate3d(-5000px, 0px, -12500px) rotateX(0deg) rotateY(-2500deg); z-index: -49; transition-duration: 0ms;">
                                    <div class="slider-image">
                                        <a href="#"><img src="assets/img/new/Agrasen-Ki-Baoli.jpg" alt="Agrasen Ki Baoli"></a>
                                        <div class="centered">Agrasen Ki Baoli</div>
                                    </div>
                                <div class="swiper-slide-shadow-left" style="opacity: 0; transition-duration: 0ms;"></div><div class="swiper-slide-shadow-right" style="opacity: 50; transition-duration: 0ms;"></div></div><div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="10" style="transform: translate3d(-5250px, 0px, -13125px) rotateX(0deg) rotateY(-2625deg); z-index: -51; transition-duration: 0ms;">
                                    <div class="slider-image">
                                        <a href="#"><img src="assets/img/new/Bangla-Sahib.jpg" alt="Bangla Sahib"></a>
                                        <div class="centered">Bangla Sahib</div>
                                    </div>
                                <div class="swiper-slide-shadow-left" style="opacity: 0; transition-duration: 0ms;"></div><div class="swiper-slide-shadow-right" style="opacity: 52.5; transition-duration: 0ms;"></div></div><div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="11" style="transform: translate3d(-5500px, 0px, -13750px) rotateX(0deg) rotateY(-2750deg); z-index: -54; transition-duration: 0ms;">
                                    <div class="slider-image">
                                        <a href="#"><img src="assets/img/new/GTB-Memorial.jpg" alt="GTB Memorial"></a>
                                        <div class="centered">GTB Memorial</div>
                                    </div>
                                <div class="swiper-slide-shadow-left" style="opacity: 0; transition-duration: 0ms;"></div><div class="swiper-slide-shadow-right" style="opacity: 55; transition-duration: 0ms;"></div></div><div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="12" style="transform: translate3d(-5750px, 0px, -14375px) rotateX(0deg) rotateY(-2875deg); z-index: -56; transition-duration: 0ms;">
                                    <div class="slider-image">
                                        <a href="#"><img src="assets/img/new/jantar-mantar.jpg" alt="Jantar Mantar"></a>
                                        <div class="centered">Jantar Mantar</div>
                                    </div>
                                <div class="swiper-slide-shadow-left" style="opacity: 0; transition-duration: 0ms;"></div><div class="swiper-slide-shadow-right" style="opacity: 57.5; transition-duration: 0ms;"></div></div><div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="13" style="transform: translate3d(-6000px, 0px, -15000px) rotateX(0deg) rotateY(-3000deg); z-index: -59; transition-duration: 0ms;">
                                    <div class="slider-image">
                                        <a href="#"><img src="assets/img/new/Rashtrapati-Bhavan.jpg" alt="Rashtrapati Bhavan"></a>
                                        <div class="centered">Rashtrapati Bhavan</div>
                                    </div>
                                <div class="swiper-slide-shadow-left" style="opacity: 0; transition-duration: 0ms;"></div><div class="swiper-slide-shadow-right" style="opacity: 60; transition-duration: 0ms;"></div></div><div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="14" style="transform: translate3d(-6250px, 0px, -15625px) rotateX(0deg) rotateY(-3125deg); z-index: -61; transition-duration: 0ms;">
                                    <div class="slider-image">
                                        <a href="#"><img src="assets/img/new/Shanti-Stupa.jpg" alt="Shanti Stupa"></a>
                                        <div class="centered">Shanti Stupa</div>
                                    </div>
                                <div class="swiper-slide-shadow-left" style="opacity: 0; transition-duration: 0ms;"></div><div class="swiper-slide-shadow-right" style="opacity: 62.5; transition-duration: 0ms;"></div></div></div>
                        <div class="swiper-pagination"></div>
                    </div>

                    
                
                    <div class="container-fluid ar-content">
                        <div class="container ">
                            <div class="row mt-5">
                                <div class="col-12">
                                    <div class="card ar-img-over">
                    <div class="">
                        <a href="#" class="d-flex align-items-center justify-content-center"><img
                                src="assets/images/full-screen.png" alt=""></a>
                    </div>
                </div>


                <h2>Site & Cultural</h2>
                <p>Culture plays an important role in the development of any nation. It represents a set of shared
                    attitudes, values, goals and practices. Culture and creativity manifest themselves in almost all
                    economic, social and other activities. A country as diverse as India is symbolized by the plurality
                    of its culture.
                    India has one of the world’s largest collections of songs, music, dance, theatre, folk traditions,
                    performing arts, rites and rituals, paintings and writings that are known, as the ‘Intangible
                    Cultural Heritage’ (ICH) of humanity. In order to preserve these elements, the Ministry of Culture
                    implements a number of schemes and programmes aimed at providing financial support to individuals,
                    groups and cultural organizations engaged in performing, visual and literary arts etc.
                    This section offers comprehensive information related to cultural heritage, ancient monuments,
                    literary arts, visual arts, schemes, programmes, performing arts, fairs and festivals and handicraft
                    of India. Detailed information on various organizations involved in promotion and propagation of
                    Indian art and culture is also available in this section.</p>


                <div class="carousel1">
                    <div class="carousel-item1">
                        <img src="https://knowindia.india.gov.in/assets/images/gallery/culture-and-heritage/14s.jpg"
                            alt="A mountain retreat">
                        <div class="carousel-caption1">Ruins of Hampi</div>

                    </div>
                    <div class="carousel-item1">
                        <img src="https://knowindia.india.gov.in/assets/images/gallery/culture-and-heritage/18s.jpg"
                            alt="Textiles">
                        <div class="carousel-caption1">Folk Dance of Punjab</div>
                    </div>
                    <div class="carousel-item1">
                        <img src="https://knowindia.india.gov.in/assets/images/gallery/culture-and-heritage/12s.jpg"
                            alt="Sculpture">
                        <div class="carousel-caption1">Tanjore</div>
                    </div>
                    <div class="carousel-item1">
                        <img src="https://knowindia.india.gov.in/assets/images/gallery/culture-and-heritage/3s.jpg"
                            alt="Pottery and Ceramics">
                        <div class="carousel-caption1">Kathak</div>
                    </div>
                    <div class="carousel-item1">
                        <img src="https://knowindia.india.gov.in/assets/images/gallery/culture-and-heritage/8s.jpg"
                            alt="Jewelry Making">
                        <div class="carousel-caption1">Agra Fort</div>
                    </div>
                    <div class="carousel-item1">
                        <img src="https://knowindia.india.gov.in/assets/images/gallery/culture-and-heritage/19s.jpg"
                            alt="Wooden Crafts">
                        <div class="carousel-caption1">Folk Dance of Gujarat</div>
                    </div>
                    <div class="carousel-item1">
                        <img src="https://knowindia.india.gov.in/assets/images/gallery/culture-and-heritage/21s.jpg"
                            alt=" ">
                        <div class="carousel-caption1">Gol Gumbaz</div>
                    </div>
                </div>



                <div class="comment-section mt-5">
                    <h2>Sites</h2>
                    <hr class="ml-0" />
                    <div class="media pt-5">
                        <div class="card mr-4">
                            <img src="https://knowindia.india.gov.in/assets/images/gallery/culture-and-heritage/13s.jpg"
                                alt="" class="card-img">
                            <div class="card-img-overlay">

                            </div>
                        </div>

                        <div class="media-body">
                            <div class="row">
                                <div class="col text-left">
                                    <h4>Sanchi Stupa</h4>
                                </div>
                            </div>
                            <p>The Sanchi Stupa is an ancient Buddhist stupa and a prominent pilgrimage site. It is
                                known for its remarkable preservation and intricate carvings, which provide valuable
                                insights into early Buddhist art and architecture. The site includes several stupas,
                                monasteries, and temples, showcasing the rich history of Buddhism in India.</p>

                        </div>
                    </div>

                    <div class="media py-5 bottom-border">
                        <div class="media-body">
                            <div class="row">
                                <div class="col text-left">
                                    <h4>Ruins of Hamp</h4>
                                </div>
                            </div>
                            <p>The Ruins of Hampi are a UNESCO World Heritage Site located in the southern part of
                                India, in the state of Karnataka. Hampi, formerly known as Vijayanagara, was the capital
                                of the Vijayanagara Empire, which flourished between the 14th and 17th centuries. The
                                site is renowned for its impressive ruins, which reflect the grandeur and architectural
                                brilliance of the Vijayanagara Empire. Here’s a detailed overview of Hampi</p>

                        </div>
                        <div class="card mr-4">
                            <img src="https://knowindia.india.gov.in/assets/images/gallery/culture-and-heritage/14s.jpg"
                                alt="" class="card-img">
                            <div class="card-img-overlay"></div>
                        </div>
                    </div>

                    <div class="media pt-5">
                        <div class="card mr-4">
                            <img src="https://knowindia.india.gov.in/assets/images/gallery/culture-and-heritage/8s.jpg"
                                alt="" class="card-img">
                            <div class="card-img-overlay">

                            </div>
                        </div>

                        <div class="media-body">
                            <div class="row">
                                <div class="col text-left">
                                    <h4>Agra Fort</h4>
                                </div>
                            </div>
                            <p>Agra Fort, also known as the Red Fort of Agra, has a rich history intertwined with the rise and fall of the Mughal Empire. The fort was initially a brick fort known as "Badalgarh," held by the Rajputs. However, it was Emperor Akbar who rebuilt it in red sandstone, giving it the current form that we see today. The fort witnessed several historical events, including the coronation of Emperor Shah Jahan and the imprisonment of Shah Jahan by his son Aurangzeb.</p>

                        </div>
                    </div>

                    <div class="media py-5 bottom-border">
                        <div class="media-body">
                            <div class="row">
                                <div class="col text-left">
                                    <h4>Ellora</h4>
                                </div>
                            </div>
                            <p>Ellora, located in the Aurangabad district of Maharashtra, India, is a UNESCO World Heritage site known for its extraordinary rock-cut caves. These caves, dating back to between the 6th and 10th centuries CE, represent the pinnacle of Indian rock-cut architecture and are a testament to the religious harmony that existed during the period. The site is one of the largest rock-cut monastery-temple cave complexes in the world, with 34 caves dedicated to Hinduism, Buddhism, and Jainism.</p>

                        </div>
                        <div class="card mr-4">
                            <img src="https://knowindia.india.gov.in/assets/images/gallery/culture-and-heritage/11s.jpg"
                                alt="" class="card-img">
                            <div class="card-img-overlay"></div>
                        </div>
                    </div>



                    <div class="media pt-5">
                        <div class="card mr-4">
                            <img src="https://knowindia.india.gov.in/assets/images/gallery/culture-and-heritage/10s.jpg"
                                alt="" class="card-img">
                            <div class="card-img-overlay">

                            </div>
                        </div>

                        <div class="media-body">
                            <div class="row">
                                <div class="col text-left">
                                    <h4>Khajuraho</h4>
                                </div>
                            </div>
                            <p>Khajuraho was once the religious and cultural capital of the Chandela rulers, who were great patrons of art and architecture. The temples were constructed during a golden era of Indian history, reflecting the social, religious, and cultural life of the time. The Chandelas built about 85 temples at Khajuraho, but only 22 have survived the ravages of time. These temples were built over a period of 100 years and are a testament to the architectural genius and the rich artistic traditions of the Chandela dynasty.</p>

                        </div>
                    </div>

                    <div class="media py-5 bottom-border">
                        <div class="media-body">
                            <div class="row">
                                <div class="col text-left">
                                    <h4>Somnath Temple, Gujarat</h4>
                                </div>
                            </div>
                            <p>The Somnath Temple, located in Prabhas Patan near Veraval in Gujarat, India, is one of the most revered and ancient temples dedicated to Lord Shiva. It is considered the first of the twelve Jyotirlingas, the most sacred shrines of Shiva, making it a significant pilgrimage site for Hindus. The temple's history is marked by its resilience, having been destroyed and rebuilt several times over the centuries.</p>

                        </div>
                        <div class="card mr-4">
                            <img src="https://knowindia.india.gov.in/assets/images/gallery/culture-and-heritage/23s.jpg"
                                alt="" class="card-img">
                            <div class="card-img-overlay"></div>
                        </div>
                    </div>

                    <div class="media-body">
                        <h2>Cultural</h2>
                        <div class="media py-5 mt-5 both-border">
                            <div class="card mr-4">
                                <img src="https://knowindia.india.gov.in/assets/images/gallery/culture-and-heritage/19s.jpg"
                                    alt="" class="card-img">
                                <div class="card-img-overlay"></div>
                            </div>
                            <div class="media-body">
                                <div class="row">
                                    <div class="col text-left">
                                        <h4>Mohiniattyam dance form</h4>
                                    </div>
                                </div>
                                <p>Mohiniyattam, one of the classical dance forms of India, originates from the southern state of Kerala. Known for its graceful and feminine movements, Mohiniyattam is a solo dance performance by women, characterized by its elegant swaying body movements, subtle facial expressions, and emotive storytelling. The dance form is deeply rooted in the rich cultural and spiritual traditions of Kerala.</p>
                            </div>
                        </div>

                        <div class="media py-5 bottom-border">
                            <div class="media-body">
                                <div class="row">
                                    <div class="col text-left">
                                        <h4>Ghoomer Folk Dance</h4>
                                    </div>
                                </div>
                                <p>
                                    Ghoomar is a traditional folk dance of Rajasthan, India, known for its vibrant and graceful movements. Performed primarily by women, Ghoomar is not just a dance but a cultural expression that reflects the rich heritage, customs, and traditions of the Rajasthani people. The dance is particularly popular among the Rajput community and is often performed during festive occasions, weddings, and other significant cultural events.
                                </p>
                            </div>
                            <div class="card mr-4">
                                <img src="https://knowindia.india.gov.in/assets/images/gallery/culture-and-heritage/27s.jpg" alt="" class="card-img">
                                <div class="card-img-overlay"></div>
                            </div>
                        </div>
                    </div>
                    <div class="media py-5 mt-5 both-border">
                        <div class="card mr-4">
                            <img src="https://knowindia.india.gov.in/assets/images/gallery/culture-and-heritage/18s.jpg"
                                alt="" class="card-img">
                            <div class="card-img-overlay"></div>
                        </div>
                        <div class="media-body">
                            <div class="row">
                                <div class="col text-left">
                                    <h4>Folk Dance of Punjab</h4>
                                </div>
                            </div>
                            <p>Punjab, a state in northern India, is renowned for its vibrant and energetic folk dances, which are an integral part of its cultural heritage. These dances are a reflection of the lively and spirited nature of the Punjabi people, often performed during festivals, weddings, and other celebratory occasions. The most famous folk dances of Punjab include Bhangra and Giddha, each with its unique style, rhythm, and cultural significance.</p>
                        </div>
                    </div>

                    <div class="media py-5 bottom-border">
                        <div class="media-body">
                            <div class="row">
                                <div class="col text-left">
                                    <h4>Mohiniattam</h4>
                                </div>
                            </div>
                            <p>
                                "Mohiniyattam" is derived from "Mohini," a mythological avatar of Lord Vishnu, who is said to have taken the form of an enchantress to trick the demons and distribute the nectar of immortality among the gods. The dance form is believed to have evolved in the 16th century and flourished under the patronage of the rulers of Kerala, particularly during the reign of Maharaja Swathi Thirunal in the 19th century, who was a great patron of the arts.
                            </p>
                        </div>
                        <div class="card mr-4">
                            <img src="https://knowindia.india.gov.in/assets/images/gallery/culture-and-heritage/7s.jpg" alt="" class="card-img">
                            <div class="card-img-overlay"></div>
                        </div>
                    </div>
                </div>
                   
                    
                    <div class="media-body">
                        <h2></h2>
                        <div class="media py-5 mt-5 both-border">

                            <div class="media-body">
                                <div class="row">
                                    <div class="col text-left">
                                        <h4>Kathakali</h4>
                                    </div>
                                </div>
                                <p>
                                    Kathakali, meaning "story-play," has its roots in Kerala's temple and folk arts, dating back to the 17th century. It was developed under the patronage of the rulers of Kerala, especially during the reign of Maharaja Kottarakkara Thampuran, who is credited with shaping Kathakali into the form we recognize today. The dance form was heavily influenced by earlier art forms such as Kutiyattam and Krishnanattam, which also involved elaborate storytelling through dance and drama.</p>
                            </div>
                            <div class="card mr-4">
                                <img src="https://knowindia.india.gov.in/assets/images/gallery/culture-and-heritage/6s.jpg" alt="" class="card-img">
                                <div class="card-img-overlay"></div>
                            </div>
                        </div>
                    </div>



                    <h3 class="text-center">All HandCrafts</h3>
                    <hr class="mx-auto" />
                    <div class="row insta-links mt-2">
                        <div class="col-md-4 col-sm-6 col-6">
                            <div class="card">
                                <img class="card-img w-100" src="https://knowindia.india.gov.in/assets/images/gallery/culture-and-heritage/15s.jpg" alt="">
                                <div class="card-img-overlay d-flex justify-content-center align-items-center">
                                    <p>Taj Mahal Agra</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-6">
                            <div class="card">
                                <img class="card-img w-100" src="https://knowindia.india.gov.in/assets/images/gallery/culture-and-heritage/17s.jpg" alt="">
                                <div class="card-img-overlay d-flex justify-content-center align-items-center">
                                    <p>Tirupati Balaji Temple, Andhra Pradesh</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-6">
                            <div class="card">
                                <img class="card-img w-100" src="https://knowindia.india.gov.in/assets/images/gallery/culture-and-heritage/24s.jpg" alt="">
                                <div class="card-img-overlay d-flex justify-content-center align-items-center">
                                    <p>Shore temple, Mahabalipuram</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-6">
                            <div class="card">
                                <img class="card-img w-100" src="https://knowindia.india.gov.in/assets/images/gallery/culture-and-heritage/23s.jpg" alt="">
                                <div class="card-img-overlay d-flex justify-content-center align-items-center">
                                    <p>Somnath Temple, Gujarat</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-6">
                            <div class="card">
                                <img class="card-img w-100" src="https://knowindia.india.gov.in/assets/images/gallery/culture-and-heritage/29s.jpg" alt="">
                                <div class="card-img-overlay d-flex justify-content-center align-items-center">
                                    <p>Corridoor at Rameshwaram </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-6">
                            <div class="card">
                                <img class="card-img w-100" src="https://knowindia.india.gov.in/assets/images/gallery/culture-and-heritage/30s.jpg" alt="">
                                <div class="card-img-overlay d-flex justify-content-center align-items-center">
                                    <p>Jama Masjid at Delhi</p>

                                </div>
                            </div>
                        </div>
                    </div>
  
                    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
                    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
                    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
                    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
                  
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow.js/1.1.2/wow.min.js"></script>
                    <script>
                      // Initialize Swiper
                      var swiper = new Swiper('.swiper-container.two', {
                          effect: 'coverflow',
                          loop: true,
                          autoplay: {
                              delay: 4000,
                          },
                          speed: 3500,
                          centeredSlides: true,
                          slidesPerView: 'auto',
                          coverflowEffect: {
                              rotate: 50,
                              stretch: 100,
                              depth: 250,
                              modifier: 2.5,
                              slideShadows: true,
                          },
                          pagination: {
                              el: '.swiper-pagination',
                              clickable: true,
                          },
                          navigation: {
                              nextEl: '.swiper-button-next',
                              prevEl: '.swiper-button-prev',
                          }
                      });
                  
                      // Initialize WOW.js
                      new WOW().init();
                    </script>