<!-- Video Section -->
<div class="video-section">
  <video src="assets/header-video.mp4" autoplay controls loop muted playsinline
    poster="assets/header-video-thumbnail.jpg"></video>
  <div class="video-description-overlay">
    <h2>Indian Heritage Revival</h2>
    <p>
      India, with its vast history and cultural diversity, is home to numerous ancient sites and heritage monuments that
      are of immense significance. The government of India has acknowledged the importance of preserving the nation’s
      timeless and rich cultural heritage. The government’s effort has been led from the front by Prime Minister Shri
      Narendra Modi under the slogan he gave, ‘Vikas Bhi Virasat Bhi’. The Prime Minister has accorded pivotal
      importance to protecting and promoting Indian knowledge systems, traditions, and cultural ethos, both nationally
      and internationally.
    </p>
  </div>
</div>

<!-- Carousel Section -->
<div class="carousel-section">
  <h2>Categories</h2>
  <div class="carousel-decorative-line">
    <div class="carousel-line left"></div>
    <div class="carousel-ornament"></div>
    <div class="carousel-line right"></div>
  </div>
  <div class="carousel-wrapper">
    <button class="carousel-nav-btn left" id="scroll-left">❮</button>
    <div class="carousel-track-wrapper">
      <ul class="carousel-track">
        <!-- Carousel Slides -->
        <li class="carousel-slide-item">
          <img src="https://static.toiimg.com/photo/msid-92655990,width-96,height-65.cms" alt="Heritage Handicraft">
          <p>Heritage Handicraft</p>
        </li>
        <li class="carousel-slide-item">
          <img src="https://www.rajasthantourpackages.co.in/pages/1791755481.jpg" alt="Historic Cities of India">
          <p>Textile</p>
        </li>
        <li class="carousel-slide-item">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSvu86CuVkXJv8II-lGn0mBJlqpk2Ea1WiQQg&s"
            alt="Audios">
          <p>Jewellery</p>
        </li>
        <li class="carousel-slide-item">
          <img src="https://smcdn.artoreal.com/catalog/product/e/s/es817l05odtq9bnservu98dc7ekqnn1704560715.jpg"
            alt="Historic Cities of India">
          <p>Painting</p>
        </li>
        <li class="carousel-slide-item">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSvu86CuVkXJv8II-lGn0mBJlqpk2Ea1WiQQg&s"
            alt="Audios">
          <p>Jewellery</p>
        </li>
        <li class="carousel-slide-item">
          <img src="https://smcdn.artoreal.com/catalog/product/e/s/es817l05odtq9bnservu98dc7ekqnn1704560715.jpg"
            alt="Historic Cities of India">
          <p>Painting</p>
        </li>
        <li class="carousel-slide-item">
          <img src="https://www.rajasthantourpackages.co.in/pages/1791755481.jpg" alt="Historic Cities of India">
          <p>Textile</p>
        </li>
        <li class="carousel-slide-item">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSvu86CuVkXJv8II-lGn0mBJlqpk2Ea1WiQQg&s"
            alt="Audios">
          <p>Jewellery</p>
        </li>
        <li class="carousel-slide-item">
          <img src="https://smcdn.artoreal.com/catalog/product/e/s/es817l05odtq9bnservu98dc7ekqnn1704560715.jpg"
            alt="Historic Cities of India">
          <p>Painting</p>
        </li>
        <li class="carousel-slide-item">
          <img
            src="https://png.pngtree.com/png-vector/20240530/ourmid/pngtree-watercolor-of-russian-balalaika-stringed-instrument-natural-wood-trial-on-transparent-png-image_12544789.png"
            alt="Historic Cities of India">
          <p>Musical Instruments</p>
        </li>
        <li class="carousel-slide-item">
          <img src="https://getgiglobal.com/backend/assets/images/products/1678954062784K.jpg" alt="Audios">
          <p>Mask</p>
        </li>
        <li class="carousel-slide-item">
          <img src="https://www.giheritage.com/uploads/product/leather-handicraft-trotting-horse-6-inch-h.png"
            alt="Historic Cities of India">
          <p>Toys</p>
        </li>
        <li class="carousel-slide-item">
          <img src="https://getgiglobal.com/backend/assets/images/products/1678954062784K.jpg" alt="Audios">
          <p>Mask</p>
        </li>
        <li class="carousel-slide-item">
          <img src="https://www.giheritage.com/uploads/product/leather-handicraft-trotting-horse-6-inch-h.png"
            alt="Historic Cities of India">
          <p>Toys</p>
        </li>
        <li class="carousel-slide-item">
          <img src="https://getgiglobal.com/backend/assets/images/products/1678954062784K.jpg" alt="Audios">
          <p>Mask</p>
        </li>
        <li class="carousel-slide-item">
          <img src="https://www.giheritage.com/uploads/product/leather-handicraft-trotting-horse-6-inch-h.png"
            alt="Historic Cities of India">
          <p>Toys</p>
        </li>
      </ul>
    </div>
    <button class="carousel-nav-btn right" id="scroll-right">❯</button>
  </div>
</div>

<!-- Articles Section -->
<div class="articles-section">
  <div class="main-article">
    <div class="article-item">
      <div class="article-image-wrapper">
        <img
          src="https://cdn.sanity.io/images/nlpqts3z/production/cc6097e718a46ed45fe245b742b4878fc2c71c24-1920x1080.jpg"
          alt="Ustad Mansur – A Wonder Of His Age">
        <a href="#" class="article-read-now">read now</a>
      </div>
      <div class="article-meta-info">30 Dec | 9 mins | Manoj Dani</div>
      <div class="article-heading">Ustad Mansur – A Wonder Of His Age</div>
    </div>
  </div>
  <div class="side-articles">
    <div class="article-item">
      <div class="article-image-wrapper">
        <img src="https://miro.medium.com/v2/resize:fit:1200/1*r2bn3QhiPz2SbM6m_Mn3SQ.jpeg" alt="Sake Dean Mohamed">
        <a href="#" class="article-read-now">read now</a>
      </div>
      <div class="article-meta-info">03 Nov | 6 mins | Aditi Shah</div>
      <div class="article-heading">Sake Dean Mohamed: The Indian who Invented Shampoo!</div>
    </div>
    <div class="article-item">
      <div class="article-image-wrapper">
        <img
          src="https://static2.tripoto.com/media/filter/tst/img/1018835/TripDocument/1560847803_suna_hai_uske_labon_se_gulab_jalte_hai5_60.png"
          alt="A Tantric Temple Riding on a Frog">
        <a href="#" class="article-read-now">read now</a>
      </div>
      <div class="article-meta-info">20 Oct | 10 mins | Ravi Kumar</div>
      <div class="article-heading">A Tantric Temple Riding on a Frog</div>
    </div>
  </div>
</div>

<app-middle></app-middle>
