<div class="center-container">
  <div class="product-card" *ngFor="let product of products">
    <div class="product-image">
      <img [src]="product.processedImg" alt="{{product.productName}}">
    </div>
    <div class="product-details">
      <h2>{{product.productName}}</h2>
      <p class="description">{{product.productDescription}}</p>
      <p class="price">Price: ${{product.price}}</p>
      <!-- Remove from Wishlist Button -->
      <button (click)="removeFromWishlist(product.productId)" class="remove-btn">
        Remove from Wishlist
      </button>
    </div>
  </div>
</div>
